# Core 
numpy==1.26.4
pandas==2.2.0
pillow==10.2.0

# Deep Learning 
torch
torchvision

# Vision Models
ultralytics==8.1.0
open-clip-torch==2.24.0
pytorch-lightning

# Vector Search
faiss-cpu
chromadb

# MLOps
dvc[gdrive]
mlflow
evidently
prefect
bentoml

# Backend
fastapi
uvicorn[standard]
redis
boto3
asyncpg
psycopg2-binary
pgvector
sqlalchemy

# Data & Augmentation
albumentations
scikit-learn
fiftyone
transformers

# UI
streamlit

# Utils
python-dotenv
pydantic
tqdm
pytest